In [25]:
import sys

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

sys.path.append('../src')
import const
from metrics import row_wise_micro_averaged_f1_score

In [26]:
train_df = pd.read_csv('../data/input/train_soundscape_labels.csv')
oof = np.load("../logs/exp_002_20210408160320_0.700/oof.npy")

In [27]:
events = oof >= 0.7
nocall_col = np.zeros((len(oof), 1)).astype(bool)
nocall_col[events.sum(1) == 0] = True
events = np.concatenate([events, nocall_col], axis=1)
oof_labels = list(
    map(
        lambda x: const.INV_BIRD_CODE[x],
        np.argwhere(events)[:, 1].reshape(-1).tolist(),
    )
)

In [28]:
train_df["oof_birds"] = oof_labels

In [14]:
train_df["nocall_birds"] = 0
train_df.loc[train_df[train_df["birds"] == "nocall"].index, "nocall_birds"] = 1

train_df["nocall_oof_birds"] = 0
train_df.loc[train_df[train_df["oof_birds"] == "nocall"].index, "nocall_oof_birds"] = 1

In [31]:
train_df["acc"] = train_df["birds"] == train_df["oof_birds"]
train_df.head()

        row_id site  audio_id  seconds   birds oof_birds   acc
0   7019_COR_5  COR      7019        5  nocall    nocall  True
1  7019_COR_10  COR      7019       10  nocall    nocall  True
2  7019_COR_15  COR      7019       15  nocall    nocall  True
3  7019_COR_20  COR      7019       20  nocall    nocall  True
4  7019_COR_25  COR      7019       25  nocall    nocall  True

In [40]:
train_df["diff"] = (train_df["birds"].apply(lambda x: 1 if x == "nocall" else 0) - 
                                 train_df["oof_birds"].apply(lambda x: 1 if x == "nocall" else 0))

In [41]:
train_df["diff"].value_counts()

 0    1719
-1     679
 1       2
Name: diff, dtype: int64

つまり、何かしらの鳥の鳴き声が聞こえているのに `nocall`と予測しているパターンが多いのか

In [42]:
train_df[~train_df["acc"]]

             row_id site  audio_id  seconds    birds oof_birds    acc  diff
240     11254_COR_5  COR     11254        5  rubwre1    nocall  False    -1
242    11254_COR_15  COR     11254       15  rubwre1    nocall  False    -1
267   11254_COR_140  COR     11254      140  obnthr1    nocall  False    -1
268   11254_COR_145  COR     11254      145  obnthr1    nocall  False    -1
269   11254_COR_150  COR     11254      150  obnthr1    nocall  False    -1
...             ...  ...       ...      ...      ...       ...    ...   ...
2390  54955_SSW_555  SSW     54955      555   chswar    nocall  False    -1
2391  54955_SSW_560  SSW     54955      560   grycat    nocall  False    -1
2394  54955_SSW_575  SSW     54955      575   chswar    nocall  False    -1
2396  54955_SSW_585  SSW     54955      585   grycat    nocall  False    -1
2397  54955_SSW_590  SSW     54955      590   grycat    nocall  False    -1

[740 rows x 8 columns]

In [49]:
for audio_id in train_df["audio_id"].unique():
    print(f"audio_id: {audio_id}")
    print("-" * 50)
    print(train_df[train_df["audio_id"] == audio_id]['birds'].value_counts())
    print("\n")
    print(train_df[(~train_df["acc"]) & (train_df["audio_id"] == audio_id)]["diff"].value_counts())
    print("\n" * 2)

audio_id: 7019
--------------------------------------------------
nocall    120
Name: birds, dtype: int64


Series([], Name: diff, dtype: int64)



audio_id: 7954
--------------------------------------------------
nocall    120
Name: birds, dtype: int64


Series([], Name: diff, dtype: int64)



audio_id: 11254
--------------------------------------------------
nocall            105
obnthr1             6
rubwre1             5
brnjay              3
brnjay sthwoo1      1
Name: birds, dtype: int64


-1    12
Name: diff, dtype: int64



audio_id: 18003
--------------------------------------------------
rucwar                    84
nocall                    24
rucwar runwre1             3
hofwoo1                    3
hofwoo1 rucwar             2
rtlhum rucwar              1
hofwoo1 rucwar runwre1     1
grekis rucwar              1
runwre1                    1
Name: birds, dtype: int64


-1    72
 0     6
Name: diff, dtype: int64



audio_id: 21767
--------------------------------------------------
rucwar                    46
nocall                    22
crfpar                    13
grekis rucwar              6
rucwar runwre1             4
whcpar                     4
runwre1                    4
crfpar runwre1             3
crfpar rucwar              2
melbla1                    2
clcrob rucwar              2
hofwoo1 rucwar             2
clcrob                     2
grekis                     2
hofwoo1                    1
grekis runwre1             1
rucwar whcpar              1
runwre1 yehcar1            1
hofwoo1 whcpar             1
rucwar runwre1 yehcar1     1
Name: birds, dtype: int64


-1    81
 0    14
Name: diff, dtype: int64



audio_id: 26746
--------------------------------------------------
nocall            71
bobfly1           20
rucwar            19
bobfly1 rucwar     4
hofwoo1            3
grhcha1            2
brnjay             1
Name: birds, dtype: int64


-1    48
Name: diff, dtype: int64



audio_id: 31928
--------------------------------------------------
nocall    120
Name: birds, dtype: int64


Series([], Name: diff, dtype: int64)



audio_id: 44957
--------------------------------------------------
bobfly1            53
nocall             49
bobfly1 plawre1     8
plawre1             4
grekis              2
brnjay              2
orcpar              1
bobfly1 orfpar      1
Name: birds, dtype: int64


-1    45
 0     1
Name: diff, dtype: int64



audio_id: 50878
--------------------------------------------------
nocall     115
orcpar       3
bobfly1      2
Name: birds, dtype: int64


-1    2
Name: diff, dtype: int64



audio_id: 57610
--------------------------------------------------
nocall             93
obnthr1            12
rubwre1             9
bucmot2 rubwre1     4
bobfly1             2
Name: birds, dtype: int64


-1    15
 0     3
Name: diff, dtype: int64



audio_id: 2782
--------------------------------------------------
eawpew reevir1                  37
reevir1                         23
bkcchi eawpew reevir1           20
eawpew grycat reevir1           16
grycat reevir1                   9
bkcchi reevir1                   8
bkcchi eawpew grycat reevir1     3
bkcchi grycat reevir1            2
chswar eawpew reevir1            1
chswar eawpew grycat reevir1     1
Name: birds, dtype: int64


-1    105
 0     10
Name: diff, dtype: int64



audio_id: 7843
--------------------------------------------------
nocall    116
bkcchi      2
blujay      2
Name: birds, dtype: int64


-1    3
Name: diff, dtype: int64



audio_id: 10534
--------------------------------------------------
nocall            63
rewbla            31
bkcchi            10
dowwoo             3
haiwoo             3
belkin1            2
blujay             2
comgra rewbla      2
swaspa             2
haiwoo rewbla      1
belkin1 rewbla     1
Name: birds, dtype: int64


-1    39
 0     3
Name: diff, dtype: int64



audio_id: 14473
--------------------------------------------------
nocall    112
grycat      7
norwat      1
Name: birds, dtype: int64


-1    3
Name: diff, dtype: int64



audio_id: 20152
--------------------------------------------------
nocall    116
amegfi      4
Name: birds, dtype: int64


-1    4
Name: diff, dtype: int64



audio_id: 26709
--------------------------------------------------
nocall           62
comyel           20
sonspa           11
eastow sonspa     9
eastow            8
comyel sonspa     5
comyel eastow     4
amegfi            1
Name: birds, dtype: int64


-1    55
 0     1
 1     1
Name: diff, dtype: int64



audio_id: 28933
--------------------------------------------------
sonspa                                38
nocall                                18
rewbla                                 7
cangoo                                 6
norcar sonspa                          5
rewbla sonspa                          4
gockin rewbla sonspa                   4
cangoo sonspa                          3
amerob                                 3
gockin                                 3
cangoo rewbla                          2
cangoo norcar                          2
swaspa                                 2
amerob gockin                          2
rewbla swaspa                          2
blujay                                 2
blujay swaspa                          2
cangoo gockin sonspa                   1
cangoo gockin norcar rewbla sonspa     1
norcar rewbla sonspa                   1
norcar rewbla                          1
norcar                                 1
gockin norcar sonspa                   1
gockin sonspa                          1
amegfi gockin                          1
blujay rewbla swaspa                   1
cangoo norcar sonspa                   1
amerob gockin sonspa                   1
amecro cangoo gockin                   1
cangoo gockin rewbla                   1
gockin rewbla                          1
amerob gockin rewbla sonspa            1
Name: birds, dtype: int64


-1    63
 0    12
 1     1
Name: diff, dtype: int64



audio_id: 42907
--------------------------------------------------
nocall     75
reevir1    34
yebsap      8
bkcchi      3
Name: birds, dtype: int64


-1    45
Name: diff, dtype: int64



audio_id: 51010
--------------------------------------------------
nocall                  28
rewbla                  14
balori grycat           13
balori                  12
bkcchi                   9
grycat                   7
balori bkcchi            7
norfli                   4
rebwoo                   3
blujay                   3
norcar                   3
balori grycat sonspa     2
woothr                   2
balori rewbla            2
grycat norfli            2
bkcchi norcar            2
balori norcar            1
balori comgra            1
bkcchi rebwoo            1
balori haiwoo            1
norcar rewbla            1
sonspa                   1
balori rebwoo            1
Name: birds, dtype: int64


-1    72
 0     9
Name: diff, dtype: int64



audio_id: 54955
--------------------------------------------------
nocall            100
chswar             13
grycat              5
ovenbi1             1
chswar ovenbi1      1
Name: birds, dtype: int64


-1    15
Name: diff, dtype: int64

In [37]:
def f(row_idx):
    preds = oof[row_idx, :]
    
    class_idx = np.argmax(preds)
    class_preds = np.max(preds)
    
    return const.INV_BIRD_CODE[class_idx], class_preds

In [39]:
f(294)

('brnjay', 0.5711570978164673)