In [1]:
import sys

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

sys.path.append('../src')
import const
from metrics import row_wise_micro_averaged_f1_score

In [2]:
train_df = pd.read_csv('../data/input/train_soundscape_labels.csv')
oof = np.load("../logs/exp_002_20210408160320_0.700/oof.npy")

In [3]:
events = oof >= 0.7
nocall_col = np.zeros((len(oof), 1)).astype(bool)
nocall_col[events.sum(1) == 0] = True
events = np.concatenate([events, nocall_col], axis=1)
oof_labels = list(
    map(
        lambda x: const.INV_BIRD_CODE[x],
        np.argwhere(events)[:, 1].reshape(-1).tolist(),
    )
)

In [4]:
train_df["oof_birds"] = oof_labels

In [5]:
train_df["nocall_birds"] = 0
train_df.loc[train_df[train_df["birds"] == "nocall"].index, "nocall_birds"] = 1

train_df["nocall_oof_birds"] = 0
train_df.loc[train_df[train_df["oof_birds"] == "nocall"].index, "nocall_oof_birds"] = 1

In [6]:
train_df["acc"] = train_df["birds"] == train_df["oof_birds"]
train_df.head()

,row_id,site,audio_id,seconds,birds,oof_birds,nocall_birds,nocall_oof_birds,acc
0,7019_COR_5,COR,7019,5,nocall,nocall,1,1,True
1,7019_COR_10,COR,7019,10,nocall,nocall,1,1,True
2,7019_COR_15,COR,7019,15,nocall,nocall,1,1,True
3,7019_COR_20,COR,7019,20,nocall,nocall,1,1,True
4,7019_COR_25,COR,7019,25,nocall,nocall,1,1,True

In [7]:
train_df["diff"] = (train_df["birds"].apply(lambda x: 1 if x == "nocall" else 0) - 
                                 train_df["oof_birds"].apply(lambda x: 1 if x == "nocall" else 0))

In [8]:
train_df["diff"].value_counts()

 0    1719
-1     679
 1       2
Name: diff, dtype: int64

つまり、何かしらの鳥の鳴き声が聞こえているのに `nocall`と予測しているパターンが多いのか

In [9]:
train_df[~train_df["acc"]]

,row_id,site,audio_id,seconds,birds,oof_birds,nocall_birds,nocall_oof_birds,acc,diff
240,11254_COR_5,COR,11254,5,rubwre1,nocall,0,1,False,-1
242,11254_COR_15,COR,11254,15,rubwre1,nocall,0,1,False,-1
267,11254_COR_140,COR,11254,140,obnthr1,nocall,0,1,False,-1
268,11254_COR_145,COR,11254,145,obnthr1,nocall,0,1,False,-1
269,11254_COR_150,COR,11254,150,obnthr1,nocall,0,1,False,-1
...,...,...,...,...,...,...,...,...,...,...
2390,54955_SSW_555,SSW,54955,555,chswar,nocall,0,1,False,-1
2391,54955_SSW_560,SSW,54955,560,grycat,nocall,0,1,False,-1
2394,54955_SSW_575,SSW,54955,575,chswar,nocall,0,1,False,-1
2396,54955_SSW_585,SSW,54955,585,grycat,nocall,0,1,False,-1
2397,54955_SSW_590,SSW,54955,590,grycat,nocall,0,1,False,-1

In [10]:
for audio_id in train_df["audio_id"].unique():
    print(f"audio_id: {audio_id}")
    print("-" * 50)
    print(train_df[train_df["audio_id"] == audio_id]['birds'].value_counts())
    print("\n")
    print(train_df[(~train_df["acc"]) & (train_df["audio_id"] == audio_id)]["diff"].value_counts())
    print("\n" * 2)

audio_id: 7019
--------------------------------------------------
nocall    120
Name: birds, dtype: int64


Series([], Name: diff, dtype: int64)



audio_id: 7954
--------------------------------------------------
nocall    120
Name: birds, dtype: int64


Series([], Name: diff, dtype: int64)



audio_id: 11254
--------------------------------------------------
nocall            105
obnthr1             6
rubwre1             5
brnjay              3
brnjay sthwoo1      1
Name: birds, dtype: int64


-1    12
Name: diff, dtype: int64



audio_id: 18003
--------------------------------------------------
rucwar                    84
nocall                    24
hofwoo1                    3
rucwar runwre1             3
hofwoo1 rucwar             2
grekis rucwar              1
runwre1                    1
hofwoo1 rucwar runwre1     1
rtlhum rucwar              1
Name: birds, dtype: int64


-1    72
 0     6
Name: diff, dtype: int64



audio_id: 21767
--------------------------------------------------
rucwar                    46
nocall                    22
crfpar                    13
grekis rucwar              6
whcpar                     4
rucwar runwre1             4
runwre1                    4
crfpar runwre1             3
clcrob rucwar              2
hofwoo1 rucwar             2
crfpar rucwar              2
clcrob                     2
grekis                     2
melbla1                    2
runwre1 yehcar1            1
rucwar whcpar              1
grekis runwre1             1
rucwar runwre1 yehcar1     1
hofwoo1 whcpar             1
hofwoo1                    1
Name: birds, dtype: int64


-1    81
 0    14
Name: diff, dtype: int64



audio_id: 26746
--------------------------------------------------
nocall            71
bobfly1           20
rucwar            19
bobfly1 rucwar     4
hofwoo1            3
grhcha1            2
brnjay             1
Name: birds, dtype: int64


-1    48
Name: diff, dtype: int64



audio_id: 31928
--------------------------------------------------
nocall    120
Name: birds, dtype: int64


Series([], Name: diff, dtype: int64)



audio_id: 44957
--------------------------------------------------
bobfly1            53
nocall             49
bobfly1 plawre1     8
plawre1             4
brnjay              2
grekis              2
bobfly1 orfpar      1
orcpar              1
Name: birds, dtype: int64


-1    45
 0     1
Name: diff, dtype: int64



audio_id: 50878
--------------------------------------------------
nocall     115
orcpar       3
bobfly1      2
Name: birds, dtype: int64


-1    2
Name: diff, dtype: int64



audio_id: 57610
--------------------------------------------------
nocall             93
obnthr1            12
rubwre1             9
bucmot2 rubwre1     4
bobfly1             2
Name: birds, dtype: int64


-1    15
 0     3
Name: diff, dtype: int64



audio_id: 2782
--------------------------------------------------
eawpew reevir1                  37
reevir1                         23
bkcchi eawpew reevir1           20
eawpew grycat reevir1           16
grycat reevir1                   9
bkcchi reevir1                   8
bkcchi eawpew grycat reevir1     3
bkcchi grycat reevir1            2
chswar eawpew reevir1            1
chswar eawpew grycat reevir1     1
Name: birds, dtype: int64


-1    105
 0     10
Name: diff, dtype: int64



audio_id: 7843
--------------------------------------------------
nocall    116
blujay      2
bkcchi      2
Name: birds, dtype: int64


-1    3
Name: diff, dtype: int64



audio_id: 10534
--------------------------------------------------
nocall            63
rewbla            31
bkcchi            10
dowwoo             3
haiwoo             3
blujay             2
belkin1            2
comgra rewbla      2
swaspa             2
haiwoo rewbla      1
belkin1 rewbla     1
Name: birds, dtype: int64


-1    39
 0     3
Name: diff, dtype: int64



audio_id: 14473
--------------------------------------------------
nocall    112
grycat      7
norwat      1
Name: birds, dtype: int64


-1    3
Name: diff, dtype: int64



audio_id: 20152
--------------------------------------------------
nocall    116
amegfi      4
Name: birds, dtype: int64


-1    4
Name: diff, dtype: int64



audio_id: 26709
--------------------------------------------------
nocall           62
comyel           20
sonspa           11
eastow sonspa     9
eastow            8
comyel sonspa     5
comyel eastow     4
amegfi            1
Name: birds, dtype: int64


-1    55
 0     1
 1     1
Name: diff, dtype: int64



audio_id: 28933
--------------------------------------------------
sonspa                                38
nocall                                18
rewbla                                 7
cangoo                                 6
norcar sonspa                          5
gockin rewbla sonspa                   4
rewbla sonspa                          4
gockin                                 3
cangoo sonspa                          3
amerob                                 3
rewbla swaspa                          2
amerob gockin                          2
blujay                                 2
swaspa                                 2
cangoo rewbla                          2
blujay swaspa                          2
cangoo norcar                          2
amegfi gockin                          1
cangoo gockin norcar rewbla sonspa     1
gockin sonspa                          1
blujay rewbla swaspa                   1
amerob gockin sonspa                   1
amerob gockin rewbla sonspa            1
norcar                                 1
gockin norcar sonspa                   1
norcar rewbla                          1
gockin rewbla                          1
norcar rewbla sonspa                   1
amecro cangoo gockin                   1
cangoo norcar sonspa                   1
cangoo gockin rewbla                   1
cangoo gockin sonspa                   1
Name: birds, dtype: int64


-1    63
 0    12
 1     1
Name: diff, dtype: int64



audio_id: 42907
--------------------------------------------------
nocall     75
reevir1    34
yebsap      8
bkcchi      3
Name: birds, dtype: int64


-1    45
Name: diff, dtype: int64



audio_id: 51010
--------------------------------------------------
nocall                  28
rewbla                  14
balori grycat           13
balori                  12
bkcchi                   9
balori bkcchi            7
grycat                   7
norfli                   4
norcar                   3
blujay                   3
rebwoo                   3
balori rewbla            2
bkcchi norcar            2
balori grycat sonspa     2
woothr                   2
grycat norfli            2
balori rebwoo            1
balori comgra            1
norcar rewbla            1
bkcchi rebwoo            1
balori norcar            1
sonspa                   1
balori haiwoo            1
Name: birds, dtype: int64


-1    72
 0     9
Name: diff, dtype: int64



audio_id: 54955
--------------------------------------------------
nocall            100
chswar             13
grycat              5
ovenbi1             1
chswar ovenbi1      1
Name: birds, dtype: int64


-1    15
Name: diff, dtype: int64

In [11]:
def f(row_idx):
    preds = oof[row_idx, :]
    
    class_idx = np.argmax(preds)
    class_preds = np.max(preds)
    
    return const.INV_BIRD_CODE[class_idx], class_preds

In [15]:
f(2396)

('sltred', 0.0197440255433321)

In [13]:
train_df

,row_id,site,audio_id,seconds,birds,oof_birds,nocall_birds,nocall_oof_birds,acc,diff
0,7019_COR_5,COR,7019,5,nocall,nocall,1,1,True,0
1,7019_COR_10,COR,7019,10,nocall,nocall,1,1,True,0
2,7019_COR_15,COR,7019,15,nocall,nocall,1,1,True,0
3,7019_COR_20,COR,7019,20,nocall,nocall,1,1,True,0
4,7019_COR_25,COR,7019,25,nocall,nocall,1,1,True,0
...,...,...,...,...,...,...,...,...,...,...
2395,54955_SSW_580,SSW,54955,580,nocall,nocall,1,1,True,0
2396,54955_SSW_585,SSW,54955,585,grycat,nocall,0,1,False,-1
2397,54955_SSW_590,SSW,54955,590,grycat,nocall,0,1,False,-1
2398,54955_SSW_595,SSW,54955,595,nocall,nocall,1,1,True,0
2399,54955_SSW_600,SSW,54955,600,nocall,nocall,1,1,True,0

In [18]:
np.argsort(oof[2396, :])[::-1]

array([309,  58, 183, 112,  74, 332,  81,  23, 133, 105, 329, 366, 229,
       250, 213, 101,   4, 174, 134,  22, 369, 212,   8, 142,  32, 243,
       170, 394, 194, 236,  80,  48, 286, 264, 120,  36, 121, 285, 207,
       350, 349, 218, 360, 318, 132,   9,  29, 168, 158, 173, 296, 225,
       179, 160, 210,  82, 188, 228,  69, 270, 333, 281,  27, 359,  94,
        12, 197, 320, 153, 209, 165, 123, 206, 113,  31, 330, 180,  60,
       151, 219, 295, 190, 122,  49, 347, 368, 265,  96, 310, 157, 247,
        99, 214, 344, 171, 193, 381, 107, 284, 198, 273, 131, 392, 127,
        83, 222, 263,  40,  68, 208, 259, 356, 357, 287,  24, 378, 146,
        11, 306, 248, 182, 191,   5, 353, 372, 371, 315, 326, 367, 215,
       340, 275,  38, 110, 126, 274,  34,  50, 363, 220, 195, 313,  45,
       196, 267, 164, 184, 253,   7, 118, 124,  19, 346,  55, 129, 375,
       336, 298,  61,  51,   1, 331, 115,   0,  89,  35, 221, 114, 282,
        47,  18,  56, 382, 108, 223, 376,  37, 276,  97,  14,  79, 138,
       181,  70,  95, 152, 156,  44,  26, 339, 178, 239, 322, 345, 143,
        86,  85,  91, 272, 269, 233, 370, 159,  15, 140,  30, 175, 169,
       128, 234, 321, 261, 240, 288, 364, 186, 297, 380, 279, 148, 312,
       238, 283, 325, 241,   6,  20, 271, 393, 109, 154, 246,  13, 383,
       262, 252, 200, 303, 167, 291,  72, 205, 342, 358, 280,   2, 130,
       385,  41,  66, 314, 144,  16, 386, 311, 343, 141,  77,  21, 388,
       289, 145, 351, 395, 104, 203, 300,  88, 155, 278,  98,  54,  90,
       232, 135, 176, 365, 216, 103, 260, 327, 116, 390, 201,  73, 308,
        62, 106, 244, 255,  71, 139, 348, 294, 389, 137,  25, 302, 391,
       251, 231, 301, 147, 163, 149, 230, 324,  78, 249, 254, 292, 217,
        87, 185, 162, 323,  84, 257,  57, 166, 337, 117,  33,  65, 202,
        42, 224, 268, 384, 111, 396, 211, 362, 245, 316, 125, 317, 374,
       387, 204, 319, 307, 256, 338, 355, 150,  76, 187,  92, 341, 335,
       373,  17, 227, 161, 102, 266,  39,  46, 377,  28,  52,  75, 100,
       354, 379, 299,  67, 304, 277, 226, 242, 258,  59, 235,  93, 136,
       290, 305, 334,  64,  63, 352, 192, 189,  53,  43,  10, 237, 172,
         3, 199, 119, 328, 177, 361, 293])

In [21]:
const.INV_BIRD_CODE[309]

'sltred'